@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #2e3134;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
